<launch>

   <env  name="ROSCONSOLE_CONFIG_FILE" value="$(find laserundistortion)/config/roslog.config" />
   <param name="use_sim_time" value="true"/>
   <!-- <arg name="bag" default="/home/lyb/loc_test/src/lidar_undistortion/lidar_undistortion_use_tf/bag/2020-03-17-10-23-25.bag"/> -->
   <arg name="bag" default="/home/lyb/bags/2021/rotate_2021-01-27-11-19-12.bag"/>

   <node name="laserundistortion_lyb_node" pkg="laserundistortion"  type="laserundistortion_lyb_node" output="screen" >
      <param name="scan_time_from_start" value="false" />
   </node>

   <node name="playbag" pkg="rosbag" type="play"
        args="--clock $(arg bag) "/>

</launch>