<launch>
   <param name="use_sim_time" value="true"/>
   <arg name="bag" default="/home/lyb/bags/data_20200916155539.bag"/>
   <!-- <arg name="bag" default="/home/lyb/Downloads/home.bag"/> -->

   <node name="laserundistortion_lyb_node" pkg="laserundistortion"  type="laserundistortion_lyb_node" output="screen" >
     <param name ="scan_time_from_start" value = "true"/>
   </node>

   <node name="playbag" pkg="rosbag" type="play"
        args="--clock $(arg bag) -r 1"/>

</launch>