<launch>

   <env  name="ROSCONSOLE_CONFIG_FILE" value="$(find laserundistortion)/config/roslog.config" />
   <param name="use_sim_time" value="false"/>

   <node name="laserundistortion_lyb_node" pkg="laserundistortion"  type="laserundistortion_lyb_node" output="screen" >
      <param name="scan_time_from_start" value="false" />
      <param name="show_part_info" value="false" />
   </node>

</launch>