log4j.rootLogger=DEBUG, logFile

#log4j.appender.stdout=org.apache.log4j.ConsoleAppender
#log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
#log4j.appender.stdout.layout.ConversionPattern=%d %p [%c] - %m%n

log4j.appender.logFile=org.apache.log4j.FileAppender 
log4j.appender.logFile.Threshold=DEBUG 
log4j.appender.logFile.ImmediateFlush=true 
log4j.appender.logFile.Append=true 
log4j.appender.logFile.File=${HOME}/roslog/lidar_undistortion.log
log4j.appender.logFile.layout=org.apache.log4j.PatternLayout
#log4j.appender.logFile.layout.ConversionPattern = [%-5p] [%-23d{yyyy/MM/dd HH:mm:ss:SSS}] [%l]: %m%n
log4j.appender.logFile.layout.ConversionPattern = [%-5p] [%-23d{yyyy/MM/dd HH:mm:ss:SSS}]: %m%n
# Set the default ros output to warning and higher
log4j.logger.ros=INFO

# Override my package to output everything
log4j.logger.ros.log4j=INFO